<style type="text/css">

</style>

<h2>Flip-a-Fatty</h2>
<br>

<table class="burgers">

<% @burgers.each do |b| %>
  <tr>
    <td class="burger-name" id="burger-<%= b.id %>"><%= b.meat %></td>
      <%- if b.grams.present? %>
        <td><%= b.grams %> gr. </td>
      <% else %>
        <td></td>
      <% end %>
    </td>
    <td class="burger-price" data-price='{"Price":"<%= b.price %>"}'> € <%= b.price %> </td>
      <td> <button class="choose-burger-button"></button></td>
      <td><%- if b.gluten == true %>
        <button type="button" class= "buttonpopoverstyle" data-toggle="popover" title="Popover title" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?"></button>
      <% end %>
      <%- if b.veg == true %>
        <button type="button" class= "buttonpopoverstyle2" data-toggle="popover" title="Popover title" data-trigger="focus" data-content="And here's some amazing content. It's very engaging. Right?"></button>
      <% end %>
    </td>
  </tr>
<% end %>

</table>
