<h3> admin </h3>


<% @hamburgers.each do |h| %>
  <%- if h.served == false %>
    <p><strong><%= h.table %>: </strong><%= h.choise %> <button type="button" class="serve-burger-button" id="serve-<%=h.id%>" data-id='{"Id":"<%= h.id %>"}'>serve</button></p>
  <% end %>
<% end %>

<%= link_to "Log out", destroy_user_session_path, method: :delete %>
