<!DOCTYPE html>
<html>
<head>
  <title>Burgerbar</title>
</head>

<body>
  <a href="/admin"> <img class="hipster-cook" src="http://res.cloudinary.com/dsiyhc1tt/image/upload/c_scale,e_negate,w_270/v1479830688/02fc635986b3030d9411d3ab7458bd68_shdqj8.png"></a>

    <div class="banner">
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="http://res.cloudinary.com/dwbu8qlck/image/upload/c_scale,h_193,w_651/v1479745524/smokehouse-burger_uq6xji.jpg" alt="Burger">
            <div class="carousel-caption">
              <h3>Burgerbar</h3>
              <p>The best burgers in town!</p>
            </div>
          </div>
          <div class="item">
            <img src="http://res.cloudinary.com/dwbu8qlck/image/upload/c_scale,h_193,w_651/v1479745524/smokehouse-burger_uq6xji.jpg" alt="Burger">
            <div class="carousel-caption">
              <h3>Burgerbar</h3>
              <p>The best burgers in town!</p>
            </div>
          </div>
          <div class="item">
            <img src="http://res.cloudinary.com/dwbu8qlck/image/upload/c_scale,h_193,w_651/v1479745524/smokehouse-burger_uq6xji.jpg" alt="Burger">
            <div class="carousel-caption">
              <h3>Burgerbar</h3>
              <p>The best burgers in town!</p>
            </div>
          </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="menu">
        <h2> Menu </h2>
    </div>

    <a href="/" class="change-mind-link">Back</a>

    <main class="burgers-main">

    <div class="flex-container">

      <div class="flex-child1"

          <article class="flexchild">
          </article>

          <article class="flexchild">
            <%= render 'burgers' %>
          </article>

          <article class="flexchild">
            <%= render 'toppings' %>
          </article>

          <article class="flexchild">
            <%= render 'sides' %>
          </article>

          <article class="flexchild">
            <%= render 'sauces' %>
          </article>

      </div>

      <div class="flex-child2"

        <article class="flexchild">

        </article>

        <article class="flexchild-order">
         <%= render 'order'%>
        </article>
      </div>


    </div>

    </main>

    <footer class="footer">
        2016 Burgerbar
    </footer>

  </body>

</html>
