<!DOCTYPE html>
<html>
<head>
  <title>Burgerbar</title>

</head>

<body>

    <header class="header" href="./burger">
    </header>

    <div class="banner">
      <img class="banner-logo" src="logo-valley-of-dinos.jpg">
      <h1 class="banner-title">Burgerbar</h1>
      <h2 class="banner-subtitle">Your favorite burger restaurant</h2>
      <%= link_to 'Home', burger_path %>
    </div>

    <main class="burgers-main">

      <h1> Menu </h1>
    <div class="flex-container">
       <article class="flexchild">
         <%= render 'burgers' %>
       </article>

       <article class="flexchild">
         <%= render 'toppings' %>
       </article>

      <article class="flexchild">
        <%= render 'sides' %>
      </article>

      <article class="flexchild">
        <%= render 'sauces' %>
      </article>
    </div>

    <div class="order">
        <%= render 'order'%>
    </div>

    </main>

    <footer>
        2016 Burgerbar
    </footer>

  </body>

</html>
