<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <a href="/admin"> <img class="hipster-cook" src="http://res.cloudinary.com/dsiyhc1tt/image/upload/c_scale,e_negate,w_270/v1479830688/02fc635986b3030d9411d3ab7458bd68_shdqj8.png"></a>

    <div class="banner">
      <img src='http://res.cloudinary.com/dwbu8qlck/image/upload/v1479980194/ea2c2618a680b37f78ce4a791ba77272_lvamzk.jpg'>
    </div>

    <main class="burgers-main">

    <div class="flex-container">

      <div class="flex-child1"

          <article class="flexchild">
          </article>

          <article class="flexchild">
            <%= render 'burgers' %>
          </article>

          <article class="flexchild">
            <%= render 'toppings' %>
          </article>

          <article class="flexchild">
            <%= render 'sides' %>
          </article>

          <article class="flexchild">
            <%= render 'sauces' %>
          </article>

      </div>

      <div class="flex-child2"

        <article class="flexchild">

        </article>

        <article class="flexchild-order">
         <%= render 'order'%>
        </article>
      </div>


    </div>

    </main>

    <footer class="footer">

    </footer>

  </body>

</html>
